*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
.fronte{
    
    height: 500px;
    width: 850px;
    margin-left:255px ;
}



