*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #9dbdba;
}
header{
    width: 100%;
    background-color:#e45f2b ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
/*.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: ;
    border-radius: 25px;
   }*/

.container-logo{
    display: flex;
    align-items: center;
}
/* texto*/
.logo-texto{
    margin-left: 10px;
    color: white;
   
}/* texto*/
.menu li{
    margin: 0 10px;
    display:  inline-block;
}
.menu li a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform:uppercase ;
    background-color: #e45f2b;
    padding: 10px 25px;
}
.banner{
    background-color: white;
    
}
html{
    scroll-behavior: smooth;
}