h1{
    text-align: center;
}
/*Banda*/
.saxofonista{
    border: 2px red solid;
}
.baixista{
    border: 2px red solid;
}
.vocalista{
    border: 2px red solid;
}
.vocalista2{
    border: 2px red solid;
}
.tecladista{
    border: 2px red solid;
}
.violinista{
    border: 2px red solid;
}